In [1]:
import pandas as pd
import numpy as np

In [4]:
# 读取Excel文件
data = pd.read_excel('附件2 慢性病及相关因素流调数据.xlsx')
data

,ID,出生年,性别,民族,Unnamed: 4,文化程度,婚姻状况,职业,是否吸烟,开始吸烟年龄,...,臀围,收缩压,舒张压,脉搏,胆固醇,血糖,高密度脂蛋白,低密度脂蛋白,甘油三酯,尿酸
0,10001,1983,2,1,NaN,4,1.0,9.0,3.0,NaN,...,92.0,98.0,62.0,70.0,3.79,4.61,1.59,1.88,0.91,210.4
1,10002,1994,2,1,NaN,3,1.0,13.0,3.0,NaN,...,88.0,104.0,70.0,80.0,4.24,4.59,1.59,2.17,0.81,270.6
2,10003,1976,1,1,NaN,4,2.0,4.0,1.0,16.0,...,95.0,104.0,70.0,80.0,4.84,4.13,1.33,2.92,1.59,298.2
3,10004,1984,1,1,NaN,5,2.0,12.0,3.0,NaN,...,106.0,126.0,82.0,72.0,5.20,4.68,0.92,3.60,1.84,327.9
4,10005,1968,1,1,NaN,4,2.0,9.0,1.0,20.0,...,97.0,106.0,70.0,70.0,5.10,4.41,1.37,3.15,1.87,350.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7704,17705,1963,2,1,NaN,3,2.0,10.0,3.0,NaN,...,99.0,150.0,90.0,64.0,4.58,4.99,1.30,2.52,1.70,281.8
7705,17706,1971,1,1,NaN,5,2.0,4.0,1.0,21.0,...,91.0,92.0,62.0,60.0,4.80,5.09,1.00,3.00,1.90,349.1
7706,17707,1953,2,1,NaN,3,2.0,10.0,3.0,NaN,...,97.0,114.0,74.0,64.0,5.54,5.30,1.19,3.41,1.50,353.7
7707,17708,1963,2,1,NaN,3,2.0,2.0,3.0,NaN,...,91.0,110.0,54.0,76.0,6.96,4.97,1.52,4.16,1.10,239.8
7708,17709,1986,1,1,NaN,5,1.0,4.0,3.0,NaN,...,90.0,100.0,68.0,70.0,4.85,3.94,1.27,2.80,0.90,341.8

In [12]:
# 获取完整的列名列表
column_names = list(data.columns)
# 将列名保存到文件
with open('column_names.txt', 'w', encoding='utf-8') as file:
    for name in column_names:
        file.write(name + '\n')

In [20]:
data.isnull().sum()
# 获取完整的列名列表
null_column_names = list(data.isnull().sum())
# 将列名保存到文件
with open('null_column_names.txt', 'w', encoding='utf-8') as file:
    for name,none in zip(column_names,null_column_names):
        file.write(name + ' : ' + str(none) + '\n')

In [21]:
nunique = list(data.nunique())

ID            7709
出生年             66
性别               2
民族               2
Unnamed: 4      15
              ...
血糖             508
高密度脂蛋白         186
低密度脂蛋白         444
甘油三酯           602
尿酸            2938
Length: 234, dtype: int64

In [23]:
counts = data['开始吸烟年龄'].value_counts()
count_99 = counts.get(99, 0) 
count_99

76

In [24]:
counts

开始吸烟年龄
20.0    284
18.0    198
17.0     88
16.0     82
25.0     82
99.0     76
22.0     75
19.0     72
15.0     71
21.0     53
23.0     47
30.0     46
24.0     33
14.0     25
13.0     20
27.0     19
26.0     18
28.0     15
12.0     13
10.0     10
35.0      8
29.0      8
40.0      7
33.0      6
32.0      5
9.0       4
34.0      4
31.0      4
2.0       3
36.0      3
11.0      3
39.0      3
6.0       2
45.0      2
38.0      2
41.0      2
8.0       2
52.0      2
44.0      1
49.0      1
50.0      1
42.0      1
48.0      1
5.0       1
43.0      1
Name: count, dtype: int64