In [87]:
import pandas as pd
import numpy as np

In [88]:
soil_moisture=pd.read_excel('data\附件3、土壤湿度2022—2012年.xls')
soil_moisture=soil_moisture[['月份','年份','10cm湿度(kg/m2)','40cm湿度(kg/m2)',	'100cm湿度(kg/m2)',	'200cm湿度(kg/m2)']]
soil_moisture.head()

   月份    年份  10cm湿度(kg/m2)  40cm湿度(kg/m2)  100cm湿度(kg/m2)  200cm湿度(kg/m2)
0   1  2022          12.45          52.14           93.45          164.48
1   2  2022          12.10          52.14           93.45          164.48
2   3  2022          14.96          52.13           93.44          164.48
3   1  2021          15.17          50.40           82.44          165.92
4   2  2021          13.93          50.40           82.44          165.92

In [89]:
soil_evaporation=pd.read_excel('data\附件4、土壤蒸发量2012—2022年.xls')
soil_evaporation=soil_evaporation[['月份','年份','土壤蒸发量(W/m2)',	'土壤蒸发量(mm)']]
soil_evaporation.head()

   月份    年份  土壤蒸发量(W/m2)  土壤蒸发量(mm)
0   1  2022         0.41       0.44
1   2  2022         0.28       0.27
2   3  2022         5.58       5.98
3   1  2021         1.05       1.13
4   2  2021         1.58       1.53

In [90]:
leaf_area=pd.read_excel('data\附件10、叶面积指数（LAI）2012-2022年.xls')
leaf_area=leaf_area[['日期','低层植被(LAIL,m2/m2)']]
leaf_area['年份'] = ''
leaf_area['月份'] = ''
for i, date in enumerate(leaf_area['日期']):
    date = str(date)
    year = np.int64(date[:4])  # 提取年份
    month = np.int64(date[4:].lstrip('0'))  # 提取月份
    leaf_area.at[i, '年份'] = year
    leaf_area.at[i, '月份'] = month
leaf_area=leaf_area[['月份','年份','低层植被(LAIL,m2/m2)']]
leaf_area.head()

  月份    年份  低层植被(LAIL,m2/m2)
0  1  2022           0.63638
1  2  2022           0.65073
2  3  2022           0.71679
3  4  2022           0.72653
4  5  2022           0.73950

In [100]:
rain = pd.DataFrame()
for i in range(2012, 2023):
    file_path = f'data\附件8、锡林郭勒盟气候2012-2022\{i}年.xls'  
    data = pd.read_excel(file_path)
    rain = pd.concat([merged_data, data], ignore_index=True)
rain = merged_data[['月份','年份','降水量(mm)','最大单日降水量(mm)','降水天数']]
rain.head()

   月份    年份  降水量(mm)  最大单日降水量(mm)  降水天数
0   1  2022   607.31        39.88    29
2   2  2022   796.04        70.10    21
4   3  2022   115.57        50.04     9
6   1  2021     4.57         2.54     6
8   2  2021   240.03        80.01     9

In [103]:
runoff=pd.read_excel('data\附件9、径流量2012-2022年.xlsx')
runoff=runoff[['月份','年份','径流量(m3/s)',	'径流量(m3)']]
runoff.head()

   月份    年份  径流量(m3/s)    径流量(m3)
0   1  2022   0.160786   430650.0
1   2  2022   0.116071   280800.0
2   3  2022   0.825605  2211300.0
3   1  2021   0.066532   178200.0
4   2  2021   0.033482    81000.0

In [94]:
soil_rain = pd.merge(soil_moisture, rain, on=['年份','月份']).drop_duplicates()
soil_rain.head()

,月份,年份,10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),降水量(mm),最大单日降水量(mm),降水天数
0,1,2022,12.45,52.14,93.45,164.48,607.31,39.88,29
1,2,2022,12.10,52.14,93.45,164.48,796.04,70.10,21
2,3,2022,14.96,52.13,93.44,164.48,115.57,50.04,9
3,1,2021,15.17,50.40,82.44,165.92,4.57,2.54,6
4,2,2021,13.93,50.40,82.44,165.92,240.03,80.01,9

In [95]:
soil_rain_evaporation = pd.merge(soil_rain, soil_evaporation, on=['年份','月份']).drop_duplicates()
soil_rain_evaporation.head()

,月份,年份,10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),降水量(mm),最大单日降水量(mm),降水天数,土壤蒸发量(W/m2),土壤蒸发量(mm)
0,1,2022,12.45,52.14,93.45,164.48,607.31,39.88,29,0.41,0.44
1,2,2022,12.10,52.14,93.45,164.48,796.04,70.10,21,0.28,0.27
2,3,2022,14.96,52.13,93.44,164.48,115.57,50.04,9,5.58,5.98
3,1,2021,15.17,50.40,82.44,165.92,4.57,2.54,6,1.05,1.13
4,2,2021,13.93,50.40,82.44,165.92,240.03,80.01,9,1.58,1.53

In [101]:
soil_rain_evaporation_leaf = pd.merge(soil_rain_evaporation, leaf_area, on=['年份','月份']).drop_duplicates()
soil_rain_evaporation_leaf.head()

,月份,年份,10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),降水量(mm),最大单日降水量(mm),降水天数,土壤蒸发量(W/m2),土壤蒸发量(mm),"低层植被(LAIL,m2/m2)"
0,1,2022,12.45,52.14,93.45,164.48,607.31,39.88,29,0.41,0.44,0.63638
1,2,2022,12.10,52.14,93.45,164.48,796.04,70.10,21,0.28,0.27,0.65073
2,3,2022,14.96,52.13,93.44,164.48,115.57,50.04,9,5.58,5.98,0.71679
3,1,2021,15.17,50.40,82.44,165.92,4.57,2.54,6,1.05,1.13,0.63600
4,2,2021,13.93,50.40,82.44,165.92,240.03,80.01,9,1.58,1.53,0.65100
...,...,...,...,...,...,...,...,...,...,...,...,...
118,8,2012,15.76,44.94,61.25,168.44,62.23,24.89,11,13.32,14.27,0.98300
119,9,2012,17.12,45.67,55.29,168.38,62.74,26.92,8,12.88,13.36,0.84700
120,10,2012,15.04,42.49,54.69,168.33,16.51,9.91,8,7.59,8.13,0.73800
121,11,2012,14.79,42.71,55.02,168.32,30.48,11.94,11,0.88,0.92,0.71000
122,12,2012,14.42,42.71,55.02,168.32,5.59,1.52,7,0.32,0.34,0.64800

In [104]:
soil_rain_evaporation_leaf_runoff = pd.merge(soil_rain_evaporation_leaf, runoff, on=['年份','月份']).drop_duplicates()
soil_rain_evaporation_leaf_runoff.head()

,月份,年份,10cm湿度(kg/m2),40cm湿度(kg/m2),100cm湿度(kg/m2),200cm湿度(kg/m2),降水量(mm),最大单日降水量(mm),降水天数,土壤蒸发量(W/m2),土壤蒸发量(mm),"低层植被(LAIL,m2/m2)",径流量(m3/s),径流量(m3)
0,1,2022,12.45,52.14,93.45,164.48,607.31,39.88,29,0.41,0.44,0.63638,0.160786,430650.0
1,2,2022,12.10,52.14,93.45,164.48,796.04,70.10,21,0.28,0.27,0.65073,0.116071,280800.0
2,3,2022,14.96,52.13,93.44,164.48,115.57,50.04,9,5.58,5.98,0.71679,0.825605,2211300.0
3,1,2021,15.17,50.40,82.44,165.92,4.57,2.54,6,1.05,1.13,0.63600,0.066532,178200.0
4,2,2021,13.93,50.40,82.44,165.92,240.03,80.01,9,1.58,1.53,0.65100,0.033482,81000.0

In [105]:
soil_rain_evaporation_leaf_runoff.isnull().sum()

月份                  0
年份                  0
10cm湿度(kg/m2)       0
40cm湿度(kg/m2)       0
100cm湿度(kg/m2)      0
200cm湿度(kg/m2)      0
降水量(mm)             0
最大单日降水量(mm)         0
降水天数                0
土壤蒸发量(W/m2)         0
土壤蒸发量(mm)           0
低层植被(LAIL,m2/m2)    0
径流量(m3/s)           0
径流量(m3)             0
dtype: int64

In [116]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report,f1_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [121]:
X = soil_rain_evaporation_leaf_runoff[['降水量(mm)','最大单日降水量(mm)',	'降水天数',	
                                       '土壤蒸发量(W/m2)',	'土壤蒸发量(mm)',	'低层植被(LAIL,m2/m2)',	
                                       '径流量(m3/s)',	'径流量(m3)']]
# y= soil_rain_evaporation_leaf_runoff[['10cm湿度(kg/m2)',	'40cm湿度(kg/m2)',	'100cm湿度(kg/m2)',	'200cm湿度(kg/m2)'	]]
y= soil_rain_evaporation_leaf_runoff['40cm湿度(kg/m2)']
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=12)
# 逻辑回归
model = LinearRegression()
model.fit(x_train, y_train)
print('逻辑 回归')
y_pred = model.predict(x_test)
mse = mean_squared_error(y_test, y_pred)
mse

逻辑 回归

76.56116902859733

In [134]:
model = RandomForestRegressor(n_estimators=12, random_state=42)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
mse = mean_squared_error(y_test, y_pred)
mse

87.8137874624625

In [135]:
y_pred

array([39.485     , 50.98416667, 42.88833333, 41.79666667, 36.585     ,
       45.16083333, 39.31083333, 47.26083333, 46.69333333, 44.97916667,
       45.53416667, 36.66916667, 37.25083333, 40.39916667, 35.76      ,
       41.85166667, 47.34583333, 41.015     , 37.07916667, 42.58833333,
       38.01416667, 45.71916667, 47.74666667, 38.07583333, 40.1675    ,
       43.80666667, 49.09666667, 40.84416667, 42.93      , 46.44166667,
       41.785     , 41.125     , 42.47333333, 38.30833333, 32.83      ,
       47.96666667, 43.59166667])

In [136]:
y_test

31     44.71
106    48.09
26     50.40
102    42.60
46     52.52
116    39.52
39     34.05
1      52.14
105    54.64
11     59.26
15     33.85
8      47.63
19     34.02
111    30.87
69     45.20
14     52.14
21     56.60
17     33.84
7      47.77
61     34.05
24     52.88
51     46.76
85     44.55
40     34.05
114    30.73
66     44.07
9      61.70
10     56.11
91     41.97
119    45.67
12     54.84
90     42.33
77     35.79
94     35.53
23     56.67
117    55.47
16     33.85
Name: 40cm湿度(kg/m2), dtype: float64